[2020-01-07 12:26] yoavweiss opened #10 "Clean up explainer and spec situation documents"
The documents include references to PRs that are no longer relevant as well as ACHL. They shouldn't.

[2020-01-07 12:28] yoavweiss opened #11 "Add a registry for features that rely on the CH infrastructure"
We need a registry of all the features that rely on CH in order to:
* Have their values be included as valid CH tokens
* Determine if they are high or low entropy, to know if they should be included by default or require an opt-in
* Define the related feature policies for HTML

Such a registry should be separate from the infrastructure spec, but can live under the same repo, to make things simpler

[2020-01-07 13:58] yoavweiss commented on #11
Hmm, I got myself confused as there's already a [registry](https://yoavweiss.github.io/client-hints-infrastructure/#registry). However, it'd still be a good idea to spin it to its own document

[2020-01-07 17:21] yoavweiss commented on #11
After going back and forth on this, we can probably have the registry live in the same document, while adding a note indicating that UAs are not required to implement all of the related features mentioned in it.

[2020-01-16 09:16] yoavweiss commented on #10
Closed by #12 and by removing the spec situation doc

[2020-01-16 09:16] #10 closed

[2020-01-16 09:16] yoavweiss commented on #11
Closed by #13

[2020-01-16 09:16] #11 closed

[2020-01-16 09:19] yoavweiss opened #16 "Provide an opt-in for the very-first-view"
The current mechanism doesn't enable providing an opt-in to client hints before the navigation request to the very-first-view of a certain origin is triggered.

For hints that are critical for the generation of that navigation response, that may mean that the site would either forfeit the hints, redirect the browser in order to receive the hint, or will perform content adaptation on the client sid

[2020-01-27 08:17] yoavweiss opened #19 "Send low-entropy hints on all requests"
Current spec says that low-entropy hints are sent without an opt-in only on navigation requests.

That can have multiple implications:
* First parties have to opt-in in order to get those hints for their subresources.
* Third parties require delegation in order to get those hints.

That seems overly restrictive, and doesn't match current implementation. I think we should change that.

[2020-02-13 12:10] #19 closed

[2020-03-02 11:16] yoavweiss opened #21 "Reconsider http-equiv support"
Having to support `<meta http-equiv>` significantly complicates implementation in browsers (as it forces header parsing to happen in the renderer, resulting in browsers having to trust their renderers).

But:
* First party CH processing requires the first party to inspect headers, so likely means they can set them as well.
* Third party CH processing requires the first party to set Feature Policy

[2020-03-02 16:30] morlovich opened #22 "Document case-(in)sensitivity of accept-ch tokens."
Per discussion with Yoav, that appears to be the intent, but not stated explicitly; it should be.

[2020-03-03 00:44] eeeps commented on #21
Using `http-equiv` to set Feature Policies seems dead in the water, both because of [pushback from spec editors](https://github.com/w3c/webappsec-feature-policy/pull/313#discussion_r286820352) and for what I think (?) is [a related security problem](https://github.com/whatwg/html/pull/4670#issuecomment-497918236) as the one you're highlighting for `Accept-CH`.

However, the problem of developers n

[2020-03-05 01:14] eeeps opened #23 "Using Feature Policy to opt-in, and not just allow"
Right now, in order to send third parties client hints, you must:

1. Allow the sending of specific hints to specific origins (via Feature-Policy) (by default, only the first party is allowed)
2. Opt into sending specific hints (via Accept-CH)

① alone does nothing. ② seems awful redundant, in third party contexts; why would I ever set something like:

[code]

*without* then doing

[code]

?

Can

[2020-04-09 09:51] yoavweiss commented on #21
Going back to this, maybe just the persistency part of `http-equiv` needs to be reconsidered. That way `http-equiv` will impact the current document, but not persisted on the origin. This will keep things as they are for the subresource case, but will enable simpler information flow architectures.

/cc @morlovich

[2020-04-09 15:24] morlovich commented on #21
What's the story for 3P permissions and 1P child iframes with that?

Flow-wise http-equiv and 3P permissions does seem tricky, though, since info may need to propagate from renderer to browser to different renderer, which seems extremely difficult to make not racey.

[2020-04-27 08:53] yoavweiss commented on #21
Apologies for the delayed reply. I think the simplest path of "http-equiv is only applied to current document" may be best. The "victim" use case here would be hints on navigation requests to 1P child iframes. I think that's acceptable and simpler to explain: "If you need persistency, you need to use the headers".

[2020-04-27 08:56] yoavweiss commented on #21
@eeeps @colinbendell - thoughts on https://github.com/WICG/client-hints-infrastructure/issues/21#issuecomment-611439076?

I *think* it will solve your use-cases while not adding significant complexity to browser architectures.

[2020-04-27 14:07] colinbendell commented on #21
On the surface, I think that is a fine compromise. Each document request would have to implement the markup to signal the use of the accept-ch. This is typically the way we have seen this implemented anyway since the http-equiv is added to the base templates on the CMS and the like.

Are there any places that the definition of a document request would be ambiguous (other than SPA designs)?

[2020-04-27 20:38] yoavweiss commented on #21
Not really. The [client hints set](https://wicg.github.io/client-hints-infrastructure/#environment-settings-object-client-hints-set) is defined on the [environment settings object](https://html.spec.whatwg.org/#environment-settings-object), which is a pretty solid concept.

[2020-04-27 23:49] eeeps commented on #21
Good question! Authors would still need to attach a Feature Policy header to the document response, to get hints on 3P subresource requests, yeah?

If so, this change would only solve half of my problem.

[2020-04-28 06:55] yoavweiss commented on #21
Indeed!

I agree.

[2020-04-29 05:00] #21 closed

[2020-05-19 13:33] rowan-m opened #27 "Best practice for managing hints throughout multiple requests"
The `Accept-CH` header acts as a complete replacement for the client hints that the browser should send on subsequent requests. I'm unsure of the right process sites (especially larger site with multiple teams) should follow when managing a selection of hints across the lifetime of the session. This is especially pertinent as the selection of valid hints expands to cover a range of different funct

[2020-05-20 10:40] jonarnes opened #28 "Prefixing of hints or not?"
The [README.md](https://github.com/WICG/client-hints-infrastructure/blob/master/README.md#example) says:

Just looking at how this is implemented in Chrome v85. Seems to treat the "classic" client hints differently than ua-client hints. For `ua-arch` it is indeed prefixed by `sec` but also by by `ch`. The classic hints are not prefixed.

Like usual on the web, implementation trumps specification,

[2020-06-11 03:57] amtunlimited commented on #19
Random thought: would it make sense to change the default feature policy for `ua` and `ua-mobile` to `*`?

[2020-06-11 06:39] yoavweiss commented on #19
They should be (that's how it's [implemented](https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/common/feature_policy/feature_policy.cc;l=406;drc=b13b67fdd3ed8c2f3154e85e9661680d4ce3220e;bpv=1;bpt=1?originalUrl=https:%2F%2Fcs.chromium.org%2F) in Chromium).

[2020-07-13 17:04] jwrosewell opened #31 "Client Hint Reliability: Alignment with TAG Ethical Web Principles"
The complexity introduced increases the learning curve for "do-it-yourself" or "individual" developers' when improving performance or optimising their websites. This does not seem to align with Ethical Web Principle "[The web must enhance individuals' control and power](https://www.w3.org/2001/tag/doc/ethical-web-principles/#control)".

There is a similar concern regarding Ethical Web Principle "[

[2020-07-14 00:12] cwilso commented on #31
(This response is my own personal opinion; it should not be read as the opinion of my employer, nor as the opinion of the Advisory Board.)

I'm not sure exactly what you mean.  By the way I read your initial logic, any additional complexity would be decreasing individuals' control and power - when adding features like this is the exact opposite, as it increases their control over the platform.  Th

[2020-07-15 15:35] jwrosewell commented on #31
@cwilso the issue relates specifically to the Client Hint Reliability proposal (the “Proposal”) added recently to the repository rather than Client Hints more broadly.

When a new feature is added and an old one deprecated developers will need to perform work. Some of those developers work in teams and are highly skilled. Others work as individuals, have limited time, and are less skilled. My init

[2020-07-19 14:24] Devyn404 commented on #31
Why the shit aren't I receiving what was promised then???

On Wed, Jul 15, 2020, 11:59 AM James Rosewell <notifications@github.com>
wrote:

[2020-07-19 14:38] Devyn404 commented on #31
I honestly don't care about any of this unless I need to or have come to my
attention but you see here my friends is that Google proposed to me and
came to my house. How the fuck do I get what they wanted me to do if I have
no idea what they want me to do. So fed up beyond yet patient as all hell
so get back to me. Like yesterday!!!

On Mon, Jul 13, 2020, 8:12 PM Chris Wilson <notifications@github

[2020-09-21 08:16] yoavweiss commented on #28
Apologies for the long delay replying here... :(

There's no particular reason other than backwards-compatibility considerations. We'd need to migrate over existing hint users to a `sec-` prefixed solution, and eventually remove the legacy hints.

[2020-10-06 13:55] amtunlimited opened #33 "How do we deal with a Critical-CH hit in the middle of a redirect chain?"
What should happen if, for example, the CH requirements change midway through a long redirect chain? The way I see it, there's two options:

1. Restart the request you're currently on, just with the new hints
2. Restart from the beginning of the chain with the new hints

I don't know if there's any precedent to go off of here. 1 seems like the simplest to spec and implement, and is how I would int

[2020-10-06 14:22] davidben commented on #33
It should be (1), and that's what the spec already says, by virtue of talking about individual requests. I don't see any benefit of making it (2), only problems with requests getting unexpectedly sent multiple times. What merits were you thinking?

[2020-10-06 16:30] amtunlimited commented on #33
After thinking about it a little more thoroughly, I suppose the only actual benefit is if the Critical-CH preferences changed mid-way through a redirect, but that's kind of a long shot.

[2020-10-23 12:40] #33 closed

[2020-10-29 16:34] rmarx opened #35 "Client Hint Reliability and DNS SVCB/HTTPSSVC"
Hello all,

I was reading the Reliability draft here and was somewhat surprised to see ALPS listed as an alternative/option, but not the SVCB/HTTPSSVC draft (https://tools.ietf.org/html/draft-ietf-dnsop-svcb-httpssvc-03), nor could I find any mention here on github about DNS-based "solutions" to this problem. It seems there are at least some synergies between client hint reliability and the HTTPSS

[2020-10-29 16:48] yoavweiss commented on #35
Hey!

This was discussed at the IETF's HTTPWG (in 106, IIRC) and was met with lukewarn enthusiasm. People mentioned DNS' operational complexity and the distance between that and the content layer, which requires the hints for content negotiation.
With that said, it might be worthwhile to summarize those points as a "considered alternative".

/cc @davidben

[2020-10-29 17:35] davidben commented on #35
I don't think DNS would work here. In addition to the operational complexity Yoav mentioned, SVCB/HTTPSSVC does not meet the security requirements. This would allow a network to inject or manipulate settings in an connection. For Client Hint Reliability in particular, the network would be able to trick the browser into thinking the website is requesting more entropy than it actually is, and potent

[2020-11-03 13:49] annevk opened #100 "Impact on same-origin policy"
These new headers increase the size of an HTTP request and coupled with attacker-controlled headers or header values could be used to carry out certain cookie-size sniffing attacks.

Privacy measures in browsers might invalidate some of these attacks, but the privacy boundary is typically not the origin, at least in today's implementations.

[2020-11-03 14:56] rmarx commented on #35
Thanks both for your thorough comments.

While I agree with @davidben's arguments of course, I still feel it would be useful to have at least a mention of them in the drafts as a "considered alternative".

I'm looking forward to the half-RTT proposal, as I personally like the ALPS concept and hope concrete use cases like these might give it a bit more momentum.

[2020-11-03 16:11] davidben commented on #35
Good idea. I added some text about this in https://github.com/WICG/client-hints-infrastructure/pull/36.

[2020-11-06 08:29] #35 closed

[2021-01-06 15:58] iab-france opened #38 "How do you define the Privacy Budget?"
Hi,
I am writing on behalf of the dedicated IAB France taskforce working on sandbox, we are having an issue to understand how you will define  the Privacy Budget?

[2021-01-06 16:27] yoavweiss commented on #38
This issue seems like something you'd want to file on https://github.com/bslassey/privacy-budget and is out-of-scope here.

[2021-01-06 16:27] #38 closed

[2021-01-14 23:40] davidben opened #39 "Potential race condition in remove client hints from redirect if needed algorithm"
The [remove client hints from redirect if needed](https://wicg.github.io/client-hints-infrastructure/#abstract-opdef-remove-client-hints-from-redirect-if-needed) algorithm uses the request's client's client hint set to determine the headers to remove. If that set has changed since the headers were added, this would miss some cases.

I'm not sure whether the set can change as currently written, but

[2021-01-14 23:50] davidben opened #40 "Handling of child frames"
I'm not sure if the frame handling is quite right, if I'm reading the spec correctly:

The algorithm for [initializing the Client Hint set](https://wicg.github.io/client-hints-infrastructure/#document-init) only fills things in on top-level frames. Which I think means that requests within subframes won't pick up any hints in step 1 of [append client hints to request](https://wicg.github.io/client-

[2021-01-14 23:53] davidben opened #41 "Accept-CH cache is not updated on redirects"
If, on a top-level navigation, we get a redirect, I believe the spec currently will not pick up Accept-CH on those rounds, since that happens at [create and initialize a Document object](https://html.spec.whatwg.org/multipage/browsing-the-web.html#initialise-the-document-object). (See https://wicg.github.io/client-hints-infrastructure/#document-init and https://wicg.github.io/client-hints-infrastr

[2021-01-14 23:59] davidben opened #42 "Client hint set for navigation requests"
It doesn't look like the spec ends up populating the client hint set for navigation requests. The Accept-CH cache is queried at [initialize the Client Hints set](https://wicg.github.io/client-hints-infrastructure/#abstract-opdef-initialize-the-client-hints-set), which happens at document creation, after the fetch. I think we'd need to do the lookup before issuing the navigation.

In [append client

[2021-01-15 14:04] amtunlimited opened #43 "Worker client hint set should be updated at some point?"
I just noticed that a worker's client hint is set at initialization, but workers can outlive top-level navigations. We should decide if/when/where a worker's client hint set is updated/reinitialized

[2021-01-22 17:07] miketaylr opened #45 "Update UA-CH token names"
These should have a `Sec-CH` prefix and currently they do not.

https://wicg.github.io/client-hints-infrastructure/#client-hints-token-definition

I can send in a PR.

[2021-01-22 17:08] miketaylr opened #46 "Update Request Processing algorithm to account for correct UA-CH token names"
Currently as written it's not correct: https://wicg.github.io/client-hints-infrastructure/#request-processing

I can send in a PR.

[2021-01-22 22:26] davidben opened #48 "Should client hints be re-evaluated on redirect"
Related to #41, we've got a few other goofy corners of redirect handling. The [append client hints to request](https://wicg.github.io/client-hints-infrastructure/#abstract-opdef-append-client-hints-to-request) algorithm is attached to the [fetch](https://fetch.spec.whatwg.org/#concept-fetch) algorithm, which means it only happens at the start of a redirect chain. Then the [remove client hints from

[2021-01-28 21:21] miketaylr opened #49 "Ensure we align with fetch PR 1000"
There used to be an Issue block in the spec text, but this issue exists to track the fetch issue on Sec- prefixed headers and CORS safelisting.

https://github.com/WICG/client-hints-infrastructure/pull/47#discussion_r562822919
https://github.com/whatwg/fetch/pull/1000

[2021-01-29 08:44] #45 closed

[2021-02-03 16:49] miketaylr opened #50 "Remove stray reference to UA-CH-Lifetime"

[2021-02-03 20:55] #50 closed

[2021-02-04 19:53] wanderview commented on #43
I believe service workers should probably be treated like their own top level "document" for client hints.  They are not associated with any single other document and can exist without a document at all.

It would probably be most straightforward to give the service worker client hints based on Accept-CH headers on the service worker script response itself.  Since the response is persisted, these

[2021-02-04 19:56] wanderview commented on #43
I would also recommend doing the same for SharedWorker since its list of associated documents may change over time.

I'm less opinionated about DedicatedWorker, but it would be nice to be consistent there.  It would also automatically handle the case where DedicatedWorkers are nested under SharedWorker or ServiceWorker in the future (something we want to support).

[2021-02-08 21:19] amtunlimited commented on #43
cc @davidben @yoavweiss

[2021-02-09 19:49] miketaylr opened #53 "Update references to HTTP Client Hints to RFC8942"

[2021-02-09 20:08] miketaylr commented on #46
This is fixed now (via ef01c41)

[2021-02-09 20:08] #46 closed

[2021-02-09 22:38] #53 closed

[2021-02-11 18:35] miketaylr opened #55 "Make it clear that an empty set can be passed to Accept-CH to clear the cache"
Right now it's not as obvious as it could be.

[2021-02-11 18:35] miketaylr commented on #55
(i can write a PR in the near future for this, if someone doesn't beat me to it)

[2021-02-12 21:38] #55 closed

[2021-02-24 20:06] dmurph commented on #16
After chatting with folks who are more knowledgeable than me, here are some brainstorms/paraphrases:

It would be technically possible to stuff some extra data in DNS records like https://tools.ietf.org/html/draft-nygren-httpbis-httpssvc-03. There are issues with that though. Resolvers/intermediaries may mess with results unless you are using DoH. I think it requires extra dns requests to look up

[2021-02-25 01:38] davidben commented on #16
This is the client hint reliability problem. We have a description of a solution here and can probably just close this issue.
https://github.com/WICG/client-hints-infrastructure/blob/master/reliability.md

DNS was considered, but it wouldn't really work:
https://github.com/WICG/client-hints-infrastructure/blob/master/reliability.md#dns

[2021-03-01 20:47] davidben opened #58 "Define interaction between reliability and navigation timing API"
Something we should make sure to get right, and also to write down in the spec:

The navigation timing API should reflect any time spent in Critical-CH retries so sites can monitor performance. Certainly `navigationStart` should start before all the retries. From there, given that retries can be interleaved with redirects, I'm thinking we can model these as self-redirect and include them in the `r

[2021-03-02 06:41] yoavweiss commented on #58
Properly defining this makes sense. Ideally, this would fall out of our current effort to integrate NavTiming with Fetch, as the integration of CH-reliability with Fetch.
/cc @noamr

[2021-03-13 00:16] miketaylr opened #59 "Add "UA-bitness" hint in all the relevant spots"
Which comes from https://github.com/WICG/ua-client-hints/issues/105 (and the linked PR).

[2021-03-15 22:19] aarongustafson opened #61 "Expose "client hint token""
In the spec, "client hint token" is defined but not exported. Is there any reason you don’t want to export it?

[2021-03-15 22:26] #59 closed

[2021-03-22 21:41] miketaylr commented on #16
Let's close here. We think we've solved this with the CH Reliability ideas. New issues on that topic can be filed @ https://github.com/WICG/client-hints-infrastructure

[2021-03-22 21:41] #16 closed

[2021-03-31 21:45] miketaylr opened #62 "Add a few missing tokens"
It looks like sec-ch-ua-platform-version and sec-ch-ua-bitness are missing (oops).

[2021-03-31 21:45] miketaylr commented on #61
Seems useful to export. I can handle that in the PR for #62.

[2021-03-31 21:49] miketaylr commented on #62
No, my memory is just bad. I already fixed this. https://github.com/WICG/client-hints-infrastructure/commit/f9b2ac25228b6acc3266f26d1e8ecccef9cb8152 😓

[2021-03-31 21:49] #62 closed

[2021-03-31 22:00] miketaylr commented on #22
Right now the spec states:

My read on that is case doesn't matter, because the UA should lowercase the token internally. @morlovich do you have any suggestions for improvements? (or is there some other spot that is relevant?)

[2021-04-01 09:05] #61 closed

[2021-04-03 15:54] bat999 opened #64 "Sec-CH-UA-Full-Version seems to be missing from the spec."
Hi

In Section 7.1 of the spec https://wicg.github.io/client-hints-infrastructure/

It says...
A client hints token is a byte-lowercase representation of one of Save-Data, DPR, Width, Viewport-Width, Viewport-Height, Device-Memory, RTT, Downlink, ECT, Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version, Sec-CH-UA or Sec-CH-UA-Mobile.

But **Sec-CH-UA-

[2021-04-12 13:26] miketaylr commented on #64
Hey @bat999 -- thanks for the issue! I could fix this up real quick, but would you like to send in a PR? I can help with that if so. If not, no worries. 😄

(Note that the tooling should stick that in the index once everything else is in place).

[2021-04-12 13:26] miketaylr opened #65 "Add sec-ch-ua-platform to low entropy hint table"
This is the second half to https://github.com/WICG/ua-client-hints/pull/221

[2021-04-12 16:38] bat999 commented on #64
... would you like to send in a PR? ...

Thanks, but no thanks.
I am not worthy (or capable).
Never have done PRs before.
Better it's left to somebody else I think.
;-)

[2021-04-12 20:14] #65 closed

[2021-04-13 14:11] miketaylr commented on #64
OK, no worries -- but, I'm happy to help if you want to learn how. :)

[2021-04-15 14:42] amtunlimited opened #67 "Low-entropy hints should go through permissions policy check"
Currently low-entropy hints are added directly to the header list. They should just be added to the client hints set so they can go through the "Should request be allowed to use feature?" algorithm, which is what was originally intended

[2021-04-15 14:53] amtunlimited commented on #67
There are two ways we could go about doing this: before or after the client null check (paragraph 3 https://wicg.github.io/client-hints-infrastructure/#request-processing)

Before means that the hints would be added even if there wasn't a client available, which may or may not make sense.

[2021-04-21 18:51] amtunlimited commented on #67
@yoavweiss @clelland Any thoughts one way or the other for ⬆️

[2021-04-21 19:15] yoavweiss commented on #67
If the client is null, request's window won't be Window, so the permission policy would just always return false.
I think that we'd want the opposite - bypass the check when the client is null (of change the "should request be allowed" algorithm to do what we need when the client is null.

[2021-04-21 20:07] amtunlimited commented on #67
https://w3c.github.io/webappsec-permissions-policy/#should-request-be-allowed-to-use-feature

Would step two be equivalent to a null client check?

[2021-04-29 13:56] #67 closed

[2021-05-17 14:45] #64 closed

[2021-05-20 18:30] miketaylr opened #71 "ch-ua-platform should have default allowlist of '*'"
Following https://github.com/WICG/ua-client-hints/issues/213, https://wicg.github.io/client-hints-infrastructure/#ch-ua-platform should be '*' not 'self'.

[2021-07-12 19:57] arichiv opened #73 "Enable markup delegation of client hints"
We should allow permission policies to be set on Accept-CH meta tags to enable third party contexts to receive client hints. For example:
`<meta name="accept-ch" content="sec-ch-ua-platform-version=('self' 'https://foo.bar')">`

This would support cases in which third party content is adaptable to the client and such adaptations improve user experience. [Variable fonts](https://developer.mozilla.o

[2021-07-12 19:58] arichiv commented on #73
@miketaylr, @clelland, @yoavweiss, & @eeeps PR will be up tomorrow

[2021-07-16 18:15] miketaylr opened #75 "Consider partitioning Accept-CH cache"
@johnwilander raises an interesting point in https://github.com/WICG/ua-client-hints/issues/242 (the issue is not specific to UA-CH, hence moving this issue over here).

Should we partition the Accept-CH cache to be consistent with the rest of the storage/network partitioning that's happening elsewhere?

[2021-07-16 19:28] davidben commented on #75
The Accept-CH cache is only ever queried for the top-level origin. So as long as the top-level origin is what determines the partition key, partitioning it is a no-op and there wasn't anything cross-site going on anyway.

But describing it as partitioned, despite it being a no-op, seems reasonable to me. We'd avoid having to think about this all the time, and it's more future-proof if partitions e

[2021-07-26 16:50] arichiv opened #76 "Standardize existing client hint naming"
Although most newer hints have the new `sec-ch-` prefix, many older ones are missing this. We should ensure standardized naming across all hints to avoid confusion.

[2021-07-30 19:43] #76 closed

[2021-08-12 15:33] #73 closed

[2021-08-12 21:21] miketaylr commented on #28
@arichiv is working on this, see https://groups.google.com/a/chromium.org/g/blink-dev/c/wTGpTPtAJGM

[2021-08-12 21:22] miketaylr commented on #28
Oops, wrong link: https://github.com/WICG/client-hints-infrastructure/pull/77/files

I think we can close this now.

[2021-08-12 21:22] #28 closed

[2021-08-20 16:15] elijahsoria opened #82 "Input Modality as a UACH"
It would be great to have input modality (mouse, touch, etc) be passed on each request by Chrome as a User Agent Client Hint (UACH). It would help in determining how people use sites and allows for different UIs and the like when users are using different input modalities.

Any interest in creating this as a UACH?

[2021-08-20 16:24] tomayac commented on #82
In CSS, you have [`pointer`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer) or [`any-pointer`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/any-pointer) (the latter can be used as touch screen proxy if the value is `coarse`). You can query it from JavaScript like so:

[code]

In theory, this could be exposed in the form of `Sec-CH-Any-Pointer`.

[2021-08-20 16:38] miketaylr commented on #82
I think a collection of client hints to capture input modality, as well as other form-factor / device characteristics could be interesting (e.g., has a screen, or doesn't). Input modality could perhaps capture VR as well?

[2021-08-23 14:19] amtunlimited commented on #82
I think it's a good idea as a high entropy hint. I do wonder about ossification (I actually think we need some more specific instructions on client hints, but maybe that's for another issue)

Right now, I believe there's only three method available that make a qualifying event: keyboard, mouse, and touch. Those'd probably be a good place to start, and maybe if there's ever any more input events we

[2021-08-23 14:38] amtunlimited opened #83 "Guidance on prevention of ossification or burn-in?"

[2021-08-23 17:16] miketaylr commented on #83
@amtunlimited can you provide some more details here?

[2021-08-23 17:37] amtunlimited commented on #83
Oh that's odd, it cleared out the body. I'll try to recreate it

I think there should be a section (maybe non-normative) about how to avoid possible burn-in issues when making new client hints. The hint that comes to mind is a discussion about a possible "form-factor" or "device-type" hint, where the introduction of new values posed a problem, with either fallback and the new values never really c

[2021-08-23 17:44] abeyad commented on #83
wouldn't Origin Trials help avoid burn-in of new/experimental client hints?

[2021-08-23 17:55] amtunlimited commented on #83
I'm referring to the values of the client hint headers, as opposed to the usage. For the "form-factor" example, if we started off with a list like "desktop" and "mobile" and someone wanted to start using "tablet", how should API consumers handle that? How would they know when new values show up, or what they mean? What would be a reasonable fallback? Maintaining a list might be possible but is a b

[2021-08-23 17:59] abeyad commented on #83
Wouldn't we need to define it in the spec, similar to other UA client hints? https://wicg.github.io/ua-client-hints/#http-ua-hints

[2021-08-23 18:01] abeyad commented on #83
In terms of workflow, I would imagine we first start out with an Origin Trial for some new values, and if the API sticks, then draft it up and communicate it as part of the spec?

[2021-08-31 14:10] #71 closed

[2021-09-09 21:43] miketaylr opened #85 "Add Sec-CH-UA-Full-Version-List"
...in all the right places.

See https://github.com/WICG/ua-client-hints/pull/250

[2021-09-13 21:19] #85 closed

[2021-10-06 22:24] amtunlimited opened #87 "Feature request: additional request header to indicate a Critical-CH restart"
Could be helpful for a number of reasons, including deduplication for analytics and better handling of still-missing headers.

Could call it `Critical-CH-Restart` or something, I'm thinking along the lines of `Service-Worker-Navigation-Preload`.

[2021-10-07 17:10] abeyad commented on #87
As a side note, I think `Critical-CH-Restart` should be a boolean; I don't think a count doesn't make sense since Critical-CH should only result in up to one resend of the request.

[2021-10-07 18:33] amtunlimited commented on #87
@davidben since you own the spec (in a way), any thoughts?

@abeyad that's actually not quite true anymore. The Critical-CH restarts are now counted as part of the navigation redirect limit, so there could be a number of times.

That being said, there's a question of if the header should persist through a redirect chain, or just on the one "restarted" request. I was leaning towards just a boolean

[2021-10-07 18:44] amtunlimited commented on #87
I suppose I was envisioning a server seeing that header and gracefully handling, vs not seeing it and assuming it will be dropped, but that's probably not a good precedent to set

[2021-10-07 18:46] davidben commented on #87
Yeah, such a server would break if the client doesn't support the hint, or declined to send it for some reason.

[2021-10-08 03:24] xanderificnl opened #88 "Accessibility hints"
Fortunately there is a lot we can already do to improve the accessibility of websites. Client hints may even provide another way to inform us of what a user needs. I do believe there is a risk to privacy (though it would be opt-in), but I believe the gains may be worth it. Hopefully this is the right place - and I didn't read over anything related - for such a discussion.

I'm thinking about heade

[2021-10-11 01:51] amtunlimited commented on #88
I do think accessibility is a good use-case for client hints; this is a better place for that.

Are there these kinds of settings available in other ways (e.g. already existing CSS or JS APIs)? In general, it would be better to define an API in that way first. Is there, for example, an already existing way for client/userr-agents to advertise that they prefer a high-vis version of a site, or a sit

[2021-11-23 06:14] hamishwillee opened #89 "Does empty Accept-CH override the low entropy user-agent hints?"
`Accept-CH` from a server indicates the desired client hint headers. The client can then choose (or not) to send back some subset of the requested headers to the server in subsequent requests.

https://web.dev/user-agent-client-hints/ indicates that the set of headers specified in `Accept-CH`  should last for the remainder of the session (until browser closes). I.e. the client effectively caches t

[2021-11-23 14:55] amtunlimited commented on #89
You have it correct, the hints sent to the page are a union of the low-entropy hints set and whatever hints are in the cache, and the header changes the cache.

You can, if you really wanted to, block low-entropy hints from all subresource requests, including the top-level origin, by changing the relevant permission policy, which is something to be careful about if you want to block third-parties

[2021-11-23 14:55] #89 closed

[2021-11-26 01:31] hamishwillee opened #90 "Low entropy hint table incorrect prefix for Save-Data?"
In the [low entropy hint table](https://wicg.github.io/client-hints-infrastructure/#low-entropy-hint-table) you see the header listed as `Sec-CH-Save-Data`, however if you follow the link the header name is just `Save-Data` (see https://wicg.github.io/savedata/#save-data-request-header-field)

[2021-11-26 05:41] arichiv commented on #90
The hint (along with a few others) were renamed a couple months ago to include the sec-ch prefix like the others have. I'll fix the other doc.

Note: sec-ch-save-data launches in M97, and save-data has yet to be deprecated.

[2021-11-26 05:45] hamishwillee commented on #90
Ah, thanks @arichiv .  `sec-ch-save-data` and  `save-data` would be treated as separate things with respect to browser compatibility right? That would mean that both would be in the low entropy table too as I understand it.

The spec also seems to indicate that the client -token hint should be lower-cased like `sec-ch-save-data`, but the [glitchme](https://user-agent-client-hints.glitch.me/) seems

[2021-11-26 06:15] arichiv commented on #90
The tokens are handled in a case insensitive manner by chrome, but I believe you're correct about the capitalization when sent in an HTTP request though.

[2021-11-26 07:05] yoavweiss commented on #90
One potential problem with updating `save-data` in implementations is that we won't necessarily want to send 2 redundant headers for a long while, and it's hard to gauge usage of `save-data` right now (as it's sent by default).

[2021-11-26 07:47] tomayac commented on #90
[User Preference Media Features Client Hints Headers](https://wicg.github.io/user-preference-media-features-headers/) defines [`Sec-CH-Prefers-Reduced-Data`](https://wicg.github.io/user-preference-media-features-headers/#sec-ch-prefers-reduced-data) but [states](https://wicg.github.io/user-preference-media-features-headers/#:~:text=no%2Dpreference%22%20/%20%22reduce%22-,%5Bsavedata%5D%20already%20

[2021-12-14 00:32] hamishwillee commented on #90
@yoavweiss I'm interested on your take on https://github.com/WICG/client-hints-infrastructure/issues/90#issuecomment-979758562

[2021-12-15 23:20] eeeps commented on #73
It's been very exciting to see Chrome's progress implementing this, here: https://bugs.chromium.org/p/chromium/issues/detail?id=1219359

Any guesses as to when this WIP feature might be enabled by default? Cloudinary is planning on shipping features that build on responsive image client hints in Q1. We’re trying to be really conscientious about what we do when we don’t receive hints... but the mor

[2021-12-15 23:23] arichiv commented on #73
TL;DR The goal is M99

We're almost code complete (subresources can get client hints delegated in HTML in canary, and iframes should get them next week). That said, intents and launches take longer around the holidays so there's a chance it'll stay experimental only (chrome://flags/#enable-experimental-web-platform-features).

[2021-12-16 00:03] eeeps commented on #76
When experimenting with the new (`Sec-CH-`) prefixed responsive image client hints, I noticed that Chrome is still sending the old (unprefixed) hints. Is there a timeline on when those will be fully depreciated?

[2021-12-16 00:07] arichiv commented on #76
A timeline for deprecation/removal of legacy client hints will be drawn up Q1 2022 (I hope it's completed by Q4 2022, but there are a lot of usage dependent contingencies). Updates can be tracked here: https://bugs.chromium.org/p/chromium/issues/detail?id=1227043

[2021-12-29 05:47] yoavweiss commented on #90
I'm not sure I see a huge semantic difference between save-data and prefers-reduced-data, so it makes sense to coalesce them. If that's the conclusion, I don't think we need 2 different hints though, and definitely don't want to send multiple identical hints by default, as low-entropy hints.

[2022-01-12 03:00] #90 closed

[2022-01-19 17:09] arichiv commented on #49
Closing as resolved since whatwg/fetch#1000 was abandoned

[2022-01-19 17:09] #49 closed

[2022-01-19 18:37] #75 closed

[2022-01-26 17:34] arichiv commented on #27
Your suggestions make sense, but I'm not sure this proposal is the right location (since it's focused on the hints requested via HTML markup and never cached). There could be a followup to https://www.rfc-editor.org/rfc/rfc8942#name-security-considerations, but it also seems like best practices might follow more from a privacy budget model, which would encourage more circumspection of the informat

[2022-01-26 17:34] #27 closed

[2022-01-26 17:57] arichiv commented on #40
Only the top-level document's client hint requests (via HTTP headers or HTML markup) are respected. If the top-level document delegated hints to the origins of sub-frames (or if the sub-frame has the same origin as the top-frame), then they can pick those hints up as well.

[2022-01-26 17:57] #40 closed

[2022-01-26 18:01] #58 closed

[2022-01-27 16:48] arichiv commented on #41
I'm closing this as intentional, it seems like an abuse of the system to allow redirects to update the Accept-CH cache (instead of using a Critical-CH header). @yoavweiss in case I'm wrong

[2022-01-27 16:50] davidben commented on #41
Not sure I follow. Critical-CH depends on the Accept-CH cache in the first place, and there are normal reasons to send redirects. (And, IIRC, our implementation does process Accept-CH on redirect. The problem is the spec doesn't match.)

[2022-01-27 16:53] arichiv commented on #39
Merging into #48

[2022-01-27 16:53] #39 closed

[2022-01-27 16:59] arichiv commented on #41
I was about to follow up that I was wrong, will fix in #42 (since that fix seems to overlap with the need here). Sorry about that

[2022-01-31 11:20] #48 closed

[2022-02-01 20:38] #41 closed

[2022-02-01 20:38] #42 closed

[2022-02-23 23:38] demurgos opened #98 "Cookie support"
Hello!
I have a website that must work without JavaScript, and I am looking into server-side solution to detect if cookies are enabled.
A solution may be to set a test cookie, use an internal redirect, and check if the cookie is there; but I believe it's possible to do better.

Client hints look like a natural fit: the server could explicitly ask if cookies (or more generally any storage) are enab

[2022-03-16 08:28] mikewest opened #99 "Document behavior for empty/falsy low-entropy hints."
To reduce header bloat, the approach of not sending headers by default whose value is `?0` seems reasonable. Fetch Metadata's [`Sec-Fetch-User` header](https://www.w3.org/TR/fetch-metadata/#abstract-opdef-set-user) is a good example of this.

This might be a good rule to agree upon, and document both here in the infrastructure doc, and in the implementation of each low-entropy hint which might hav

[2022-03-16 13:14] miketaylr commented on #99
This sounds reasonable, assuming sites aren't currently relying on using `Sec-CH-UA-Mobile: ?0` (I can't think of a great reason to do so, but it wouldn't surprise me 🤷 ).

But spec-wise, it sounds like a good thing to encode now and we can treat changing the behavior difference of "Mobile" in Chromium as a separate concern.

[2022-03-16 13:35] arichiv commented on #99
Agreed, I'll have a PR today and start on an intent in chrome for Sec-CH-UA/Sec-CH-UA-Mobile/Sec-CH-UA-Platform.

Since Sec-CH-Save-Data is already in process I can just update the design doc and reply to the intent thread.

[2022-03-16 15:26] arichiv commented on #100
Just to catch up on discussion, it sounds like the solution is a per-header limit on size (specifically for client hints)?

[2022-03-16 16:21] abeyad commented on #99
This seems to contradict the recent work by @amtunlimited to always send values for all low entropy headers, even if the UA string is overridden (https://chromium-review.googlesource.com/c/chromium/src/+/3484996)

[2022-03-16 16:25] eeeps commented on #99
This will make differentiating non-mobile UAs from non-supporting mobile UAs more difficult. Not impossible, but you start to bake in some assumptions...

[2022-03-16 17:51] arichiv commented on #99
I think it's consistent with the low entropy spirit to apply this to the entire low entropy client hint set in the standard..

That said, I don't think it's urgent we adopt this in Chrome (except for Save-Data, which already does this). I just want to prevent building a subset of low entropy client hints (ultra low entropy client hints?) that behave different into the standard.

I know there's alr

[2022-03-16 17:53] miketaylr commented on #99
Yeah, I want to be very careful about changing the default UA client hints behavior. Stability is pretty important, IMHO. Maybe the answer is to just override the behavior described here in the UA-CH spec 🤔 . Will think about it some more.

[2022-03-17 13:45] annevk commented on #100
In particular, making them share a limit with CORS and Referer.

And given the multitude of headers we probably also need to take into account that currently the limit is for values only, but we probably want to account for the size of the header names as well.

(This concern might not be applicable when the server is actively requesting Client Hints. I saw a proposal of sorts for that come by at

[2022-03-21 13:17] amtunlimited opened #102 "Critical-CH web-platform elements"
There are elements of the Critical-CH restart mechanism (from the client hints reliability explainer and [HTTP experimental draft](https://www.ietf.org/archive/id/draft-davidben-http-client-hint-reliability-03.html#name-the-critical-ch-response-he) that would fit better in web-platform land than in HTTP land (similar to this draft vs RFC8942). @davidben has mentioned this before in davidben/http-c

[2022-03-21 14:17] davidben commented on #102
Web platform things typically aren't specified in IETF drafts. I think the right place to capture those would be this repository, and eventually Fetch itself.

[2022-03-24 19:38] arichiv commented on #99
Changing approach, we'll just override the behavior for Save-Data (and keep the original name): https://github.com/WICG/client-hints-infrastructure/pull/101

[2022-03-24 19:53] arichiv commented on #102
Just to be sure, the idea is to extend this draft to contain the Critical-CH header? If so, it seems like that would require an update to Section 2 and possibly a new section dedicated to outlining how the header interacts with everything else.

[2022-03-24 20:00] #99 closed

[2022-04-05 16:30] arichiv commented on #100
Notes from meeting with @annevk:
* Issue is the *overall* size of headers sent via CORS
* This is particularly an issue for Client Hints due to the large existing set and potential future growth
* Current limits don't account for header name, which can be a significant part of the size if all CH headers are requested
* The server server limit is 8k, and the referrer limit is 4k, but the length of

[2022-04-05 16:47] annevk commented on #100
The concern also applies to "no-cors", you get some control over headers there as well. It essentially matters for all cross-origin requests, including "navigate", which I suppose is a novel angle that only CH headers touch.

[2022-04-11 23:08] englehardt opened #105 "Interaction with Permission-Policy for non-subresource requests?"
In [Request processing](https://wicg.github.io/client-hints-infrastructure/#request-processing) the hints in the hintSet are checked against permission policy only if the request is a [subresource request](https://fetch.spec.whatwg.org/#subresource-request). Are hints expected to be checked against Permission Policy when the request is a non-subresource request (e.g., a request who's destination i

[2022-04-14 12:56] miketaylr commented on #105
In https://github.com/WICG/client-hints-infrastructure/pull/106#issuecomment-1098511975 @englehardt wrote:

@englehardt can you describe in more detail what you're observing?

[2022-04-14 16:52] arichiv commented on #105
Good catch! Fix here: https://chromium-review.googlesource.com/c/chromium/src/+/3586379

[2022-04-15 01:23] englehardt commented on #105
@arichiv Got it thanks! I wasn't sure if the spec was incorrect or the implementation :) This resolves it.

@miketaylr For clarity: example.com could respond with `Permissions-Policy: ch-ua=(), ch-ua-mobile=(), ch-ua-platform=()`. This prevented those three low entropy hints from being added to requests for resources embedded within example.com (including first-party resources) but did not affect

[2022-04-15 13:41] arichiv commented on #105
@yoavweiss reminded me that permissions policies aren't cached, so we actually don't expect to see enforcement on the first request sent to a site in any case. I'll add a note to the spec about that to clarify.

[2022-04-15 15:11] miketaylr commented on #105
Thanks @englehardt. Is there any use case for this, or are you just doing exploratory testing? I'm undecided if this is an actual useful thing to do... since the UA string will reveal the same info as the low-entropy UA hints.

[2022-04-15 16:53] englehardt commented on #105
@miketaylr I was wondering whether, if a website wanted to, they could prevent any device information from being sent to themselves. I was thinking long-term, if the web platform was able to freeze and deprecate the User-Agent header. But I don't see an immediate use case for the reasons you stated.

[2022-04-15 17:23] miketaylr commented on #105
Thanks - I can see that being theoretically interesting, to be able claim as a site that no device identifiers are stored, at least at the network level. But maybe a new permissions policy would be the way to go, to turn off all (most?) headers. 🤷 🤷‍♂️ 🤷‍♀️

[2022-04-15 18:41] englehardt commented on #105
Right that's a good point. Even if one were able to turn off client hints and the UA was frozen, other headers will reveal coarser information that will vary between vendors and browser versions.

[2022-04-20 16:31] #105 closed

[2022-04-20 23:23] eeeps opened #108 "Should `<meta name=accept-ch content>` be parsed like HTTP `Permissions-Policy` or HTML `allow`?"
- [The spec](https://wicg.github.io/client-hints-infrastructure/#accept-ch-state-algo) (step 11) points to Permissions Policy's [Parse a policy directive algorithm](https://www.w3.org/TR/permissions-policy-1/#algo-parse-policy-directive), which parses the HTML `allow` attribute.
- `allow` has a different syntax than the HTTP `Permissions-Policy` header, which relies on Structured Field parsing.
-

[2022-04-20 23:32] arichiv commented on #108
I think 3 is most likely, I'll take a stab at that Friday.

[2022-04-20 23:40] arichiv commented on #108
To elaborate on reasoning:
(1) We not only ignore * in the meta tag, but don't override a default/http-header policy of * no matter how the meta tag is defined.
[code]
+
[code]
=
[code]
(2) We not only ignore self in the meta tag, but don't remove self as a valid target if it's in the default/http-header policy no matter how the meta tag is defined.
[code]
+
[code]
=
[code]
(3) We only read the ne

[2022-04-21 16:14] eeeps commented on #108
I suppose `srcset` with multiple descriptors is shaped like this, and just like `allow`, relies on white-space + comma separation and order.

srcset="a.jpg 300w 200h, b.jpg 600w 400h, c.jpg 1200w 800h"

So is `style`, which is just CSS, which is its own little universe of DSLs and not really relevant, other than to say, putting other serializations (like Permissions-Policy's) into HTML has precede

[2022-05-03 18:13] arichiv commented on #100
I could use some feedback on https://github.com/whatwg/fetch/pull/1434 @annevk before adding more detail. I know the concept of 'cross-origin request' or 'serialized header size' aren't properly defined.

[2022-05-06 19:30] eeeps commented on #108
@arichiv Is there any usage of the new `<meta>` yet?

Cloudinary, for one, is still well-situated to update our recommendations to customers, if the syntax changes. We haven't published docs or a blog post and have yet to reach out to many customers. But that door is closing.

For the (hopefully many) developers who try to implement HTML hint opt-in+delegation in the future, I'd rather we end up w

[2022-05-10 16:50] arichiv commented on #108
1. We wanted to use accept-ch because it's not just delegating (changing permissions policies) but requesting the hint be shared the same way the HTTP header does.
2. I still need to update the spec to reflect the actual syntax, sorry for the delay on that.
3. I still think the right choice is unifying the Permissions-Policy and Accept-CH headers into the meta tag's syntax. Long term, we probably

[2022-05-17 16:51] annevk commented on #100
Hey @arichiv, I appreciate that you're tackling this, but unfortunately I don't have the bandwidth at the moment to take this on. I believe Google has a spec mentoring program that might be suitable here. Once things are more concrete and Chrome Security has reviewed the approach, I'd be happy to take a more detailed look.

[2022-05-18 13:24] arichiv commented on #100
@yoavweiss would you be willing to review? I think you volunteered to help as a spec mentor :-)

[2022-05-26 15:57] eeeps commented on #108
Any progress? [M104](https://chromestatus.com/feature/5694492182052864) is getting closer and Cloudinary has paused our customer outreach efforts until this is settled.

[2022-05-27 15:33] arichiv commented on #108
Sorry for the delay, Yoav and I are slated to discuss next week. As long as the change is parsing only, there will not be an issue making M104. Additionally, if there is a parsing change we will support the current format for at least a milestone and use counters to detect when it's safe to remove.

[2022-05-31 13:32] miketaylr commented on #108
@eeeps would be interested in your thoughts to the options above. 🙇

[2022-06-01 07:59] eeeps commented on #108
@arichiv Thanks for working on this and @miketaylr thanks for the ping!

Thanks also for the updates re: timelines!

Seeing them laid out like this, option 2 seems by far the worst, because you'd have to single quote the HTML attribute or I guess use `&quot;`s; which seems, at best, weird, and at worst, incompatible with anything (?) that assumes HTML attributes don't contain quotes. I totally get

[2022-06-01 09:59] arichiv commented on #108
5 is the same as 3 but with a different name right? The one point of confusion we foresee is that it looks like allow syntax but rather than use policy names (ch-dpr) it uses the actual hint names (sec-ch-dpr). This makes sense as we aren't just delegating hints, but requesting hints as well. However, it's still a point of difference from the allow syntax.

[2022-06-01 18:30] eportis-cloudinary commented on #108
@arichiv Yeah. And that's valid; I'm worried about folks mistaking it for `Permissions-Policy`; I should also worry about it looking like `allow`. I'm less worried because I think `allow` looks more like other things in HTML, I think.

A rough survey of a few people and a quick tour through the HTML spec indicates that while spaces are the most common way to delimit lists in HTML, commas come in a

[2022-06-02 21:19] miketaylr commented on #108
My own personal take is this is hopefully something that devs can just copy from a docs snippet (or have a tool auto-generate for them) and never think about. Wishful thinking!

Adding support for @domenic's proposal in https://github.com/w3ctag/design-reviews/issues/702#issuecomment-1143680791 seems like a good path forward. And then we eventually remove support for what we just shipped.

(while

[2022-06-07 11:41] arichiv commented on #108
Just to recap, a new syntax like the following will be introduced
[code]
in M105. No changes to the M104 launch schedule will occur.

[2022-06-07 14:26] eeeps commented on #108
@arichiv sounds great. Thank you!

[2022-06-13 15:45] arichiv opened #110 "Formalize the link/script not yet executed in HTML spec"
```If any <{link}> or <{script}> elements have begun to execute, then return.```
This should live on some env object so that it can be referred to here.

[2022-06-14 16:54] #108 closed

[2022-06-25 13:48] summercms opened #111 "Readme explainer still says `Accept-CH` but spec changed to `Delegate-CH`"
Hi,

The following pull request code change found here: https://github.com/WICG/client-hints-infrastructure/pull/109/files

Changes `Accept-CH` into `Delegate-CH`, however when I go to the `readme.md` of this repo it's not been updated.

See here: https://github.com/WICG/client-hints-infrastructure#accept-ch

Maybe this part needs updating as well?

@arichiv

[2022-06-27 13:21] miketaylr commented on #111
`Accept-CH` the header hasn't been renamed, instead the `delegate-ch` token when used via `<meta>` has been added (or I guess `accept-ch` renamed in this specific context, technically). We should update explainer to make that clear and cover the markup-based scenario in particular.

[2022-06-28 19:54] arichiv opened #113 "Refresh GH Pages"
It seems to be quite stale, I don't think I have permissions to do this.

[2022-06-29 05:57] yoavweiss commented on #113
I've set up a new deployment workflow that actually works.

[2022-06-29 05:57] #113 closed

[2022-06-29 17:49] #111 closed

[2022-07-01 13:18] miketaylr opened #120 "Make it clear that UAs are not required to support every client hint ever"
Some feedback from https://github.com/WebKit/standards-positions/issues/20#issuecomment-1172062942

Some examples we should generalize here in Infra:

https://wicg.github.io/savedata/#privacy-considerations
https://wicg.github.io/ua-client-hints/#fingerprinting

[2022-07-01 19:12] gsnedders commented on #120
There's various places where we have lists of client hints in infra:

* https://wicg.github.io/client-hints-infrastructure/#client-hints-token
* https://wicg.github.io/client-hints-infrastructure/#policy-controlled-client-hints-features
* https://wicg.github.io/client-hints-infrastructure/#low-entropy-hint-table
* https://wicg.github.io/client-hints-infrastructure/#find-client-hint-value

Honestly

[2022-07-01 19:14] gsnedders commented on #120
I guess fundamentally: it's not clear how this is a registry. The section appears to have various normative requirements, and be referenced by normative text.

[2022-07-01 20:40] miketaylr commented on #120
It's sort of in a transitional state IMHO. Ideally the normative bits are specced in HTML and Fetch (@arichiv has some in-flight PRs for this, or will at some point), and then what remains is the registry covering token names and permission policy defaults, etc. At that point it probably doesn't make sense for the document to be called "Infrastructure".

[2022-07-01 20:42] miketaylr commented on #120
That sounds good to me, as long as we have a sensible idea for what the Otherwise is. 😄

[2022-07-01 22:06] gsnedders commented on #120
(The other thing that I didn't bother filing an issue for is "what does it mean for a field value to be 'suitable'")

[2022-07-07 19:06] arichiv commented on #108
Heads up that in M105 not only will the new http-equiv="delegate-ch" syntax be removed, but the older name="accept-ch" syntax will be removed. The even older http-equiv="accept-ch" that does not support delegation will not be touched as usage is too high.

[2022-07-08 12:39] arichiv commented on #108
Very sorry yes, meant to say 'added'. The comment has been updated

[2022-07-13 13:00] dgstpierre opened #122 "iFrame cross domain support"
Wondering if I'm doing something wrong or iFrame allow support is not yet available.  I'm not able to get javascript access to user agent hints (only works on localhost) within an iframe.   Need some guidance on how to use allow in a cross-domain setting to be able to access navigator.userAgentData from a script executed from an iframe.

For example:
var iframe = doc.createElement("iframe");
 ifra

[2022-07-13 17:24] dgstpierre commented on #122
I left out a key point of information, I'm running in the context of a web worker.  Is this supported?

[2022-07-13 20:55] miketaylr commented on #122
https://wicg.github.io/ua-client-hints/#navigatoruadata should be exposed on workers, as well as window. If you're finding it's not, could you file a bug at crbug.com? Thanks.

[2022-07-25 02:11] jen6 opened #123 "browser retries from the beginning of the multiple redirection with critical-ch"
Hi, I'm working for an ad tech company.
As part of the User Agent Reduction initiative (in Chrome), we (AB180 ad-tech company) are trying to implement browser hints with accept-ch and critical-ch. As I tested with critical-ch it retries the beginning of the redirection in each state.
As #33 mentioned, "(1) Restart the request you're currently on, just with the new hints" is correct. But it acts li

[2022-07-25 15:19] arichiv commented on #123
Interesting, I would have expected the chain:

abit.ly/kzjhsx -(302 redirection)->
dev.abr.ge/cctk0 (204 response) -(browser retry)->
dev.abr.ge/cctk0 -(302 redirection)->
**dev.ablog.airbrdge.io (204 response) -(browser retry)->**
dev.ablog.airbrdge.io

I'm not sure what's going on here, but I wonder if it's something to do with wanting to preserve the referrer and/or preventing one-time-use toke

[2022-07-26 13:43] jen6 commented on #123
@arichiv Can you explain why you expected one more retry in `dev.ablog.airbridge.io`?
I added permissions-policy in `dev.abr.ge` to prevent retry in `dev.ablog.airbridge.io`.

Also, If I test without `abit.ly` (means starts from `dev.abr.ge/cctk0`) there is no retry in `dev.ablog.airbridge.io`.

[2022-07-26 14:14] arichiv commented on #123
Client hints are cached per-origin, and permissions policies are uncached. If any origin returns a Critical-CH header because client hints were missing, the load must restart in order to return the (now cached) client hints requested. Permissions policies cannot delegate hints across redirects, just to subresources/frames on the same page.

If the request for client hints has already been cached,

[2022-07-29 09:34] romainmenke opened #124 "Define "brand" and "full version" for CH-UA"
see : https://datatracker.ietf.org/doc/html/draft-west-ua-client-hints-00#section-2

Examples :

In polyfill.io the User Agent string is used to determine needed the polyfills to make a website work in a specific browsers.

At Mr. Henry we use the User Agent string to determine which Javascript and CSS bundles will work correctly. We also split error reporting so that errors from old or obscure br

[2022-07-30 22:56] miketaylr commented on #124
Hi @romainmenke, thanks for the issue!

To confirm, you mean all browsers on iOS, correct? Or do you also mean webview on Android?

I agree that it would be nice if Chrome for iOS supported UA-CH (as well as Safari).

Would you mind clarifying what you mean here?

[2022-07-31 09:38] romainmenke commented on #124
I do not have an android device so I can not easily judge the situation on Android.

------

@romainmenke said :

@miketaylr said :

The current behaviour for Chrome on iOS is to erase the information about the underlying engine in the user agent string. They replace it with `CriOS/x.y.z`.

The same is done by every other browser I could test in iOS except Brave. Brave chooses to preserve the actu

[2022-08-02 18:15] romainmenke commented on #124
_To state it differently._

The current specification takes into account the anti-pattern of websites checking for older user agents and blocking end users from accessing content. It tries to prevent this with GREASE-like UA strings.

It however doesn't state anything that user agents must add correct information about their engine identity.

To work through this issue both sides need to be done c

[2022-08-24 16:39] bvattikonda opened #125 "Usability of ACCEPT_CH frame"
# Summary

Teams across Google have been experimenting with User-Agent Client Hints for the last several months. Overall, User-Agent Client Hints offer a promising replacement for information being removed from the User-Agent header as part of [User-Agent Reduction](https://blog.chromium.org/2021/09/user-agent-reduction-origin-trial-and-dates.html) efforts. In particular the use of structured head

[2022-08-29 18:39] arichiv commented on #123
More details are in https://bugs.chromium.org/p/chromium/issues/detail?id=1346230, the TL;DR is:

I think the current behavior is unfortunately correct, and that any Critical-CH restarts in the redirection chain really do need to restart from the top rather than acting as though they started in the middle of it otherwise the behavior isn't actually identical.

[2022-08-29 18:39] #123 closed

[2022-09-13 08:06] jonarnes commented on #108
Just a note on the actual implementation vs. the syntax described in this thread and and [elsewhere](https://bugs.chromium.org/p/chromium/issues/detail?id=1334152) :

It's the `[content](https://solstice-gaudy-paneer.glitch.me/content.html)` attribute that holds the client hints, not [`value`](https://solstice-gaudy-paneer.glitch.me/value.html). A working opt in would be:

[code]

Hopefully this s

[2022-09-14 15:47] miketaylr opened #126 "Define "high entropy" hint"
We don't define this anywhere (AFAICT).

We could say something like "a high entropy hint is any hint that's not in https://wicg.github.io/client-hints-infrastructure/#low-entropy-hint-table".

[2022-09-19 16:04] #126 closed

[2022-09-29 16:38] arichiv opened #130 "Integrate at the correct point in Fetch"
From @yoavweiss
UA infra's point of connection with the Fetch spec is too early up the stack, and append CH needs to be called lower (after the CORS checks)
Probably in https://fetch.spec.whatwg.org/#http-network-or-cache-fetch

[2022-10-05 11:19] #130 closed